name: 'Close stale issues'
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  stale:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/stale@v8
        with:
          days-before-stale: 12
          days-before-close: 2
          days-before-pr-close: -1
          stale-issue-message: "This issue has been marked as stale! This means that we're waiting for your response and we haven't heard anything in 12 days. If you'd like to keep this issue open, please leave a comment with the information previously requested. If we don't receive a comment within 48 hours, this issue will be closed, and you will be required to re-submit."
          close-issue-message: "We haven't heard from you within 48 hours of the issue becoming stale, so it has closed. If you are still experiencing this bug, please open another issue and make sure you include all the requested information."
          exempt-issue-labels: "bug,todo,verification required,documentation"